<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.commentDao">
    <resultMap id="BaseResultMap" type="com.portal.pojo.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="comment_id"/>
        <result column="comment_description" jdbcType="VARCHAR" property="comment_description"/>
        <result column="comment_pho_url" jdbcType="VARCHAR" property="comment_pho_url"/>
        <result column="position_comment" jdbcType="VARCHAR" property="position_comment"/>
        <result column="comment_outside_url" jdbcType="VARCHAR" property="comment_outside_url"/>
        <result column="comment_score" jdbcType="INTEGER" property="comment_score"/>
        <result column="comment_creatime" jdbcType="TIMESTAMP" property="comment_creatime"/>
        <result column="technical_position" jdbcType="VARCHAR" property="technical_position"/>
        <result column="position_location" jdbcType="VARCHAR" property="position_location"/>
        <result column="user_name" jdbcType="VARCHAR" property="user_name"/>
        <result column="user_photo_url" jdbcType="VARCHAR" property="user_photo_url"/>
        <result column="user_mail" jdbcType="VARCHAR" property="user_mail"/>
    </resultMap>
    <sql id="Base_Column_List">
        comment_id,comment_description,comment_pho_url,position_comment,
        comment_outside_url,comment_score,comment_creatime,
        technical_position,position_location,
        user_name,user_photo_url,user_mail,
    </sql>

    <select id="showCommentByPosition" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from comment LEFT join position on comment.comment_id=position.position_id
        ORDER by comment_id desc LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="showCommentByUsers" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from comment left join user on comment.comment_id=user.user_id
        ORDER by comment_id desc LIMIT #{pageNum}, #{pageSize}
    </select>


    <select id="outsideURL" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select comment_outside_url from comment
        LIMIT #{pageNum}, #{pageSize}
    </select>











</mapper>